In [1]:
import pandas as pd

import numpy as np

import warnings
warnings.filterwarnings('ignore')

### Emisor

### Turistas en el extranjero de residentes en España por continente y país destino por CCAA

In [2]:
df = pd.read_excel('../emisor/por_conti_pais_destin_por_ccaa.xlsx')

In [3]:

df.head(10)

                 fecha turistas Pernoctaciones Duración media de los viajes
0            Andalucía      NaN            NaN                          NaN
1              2022M07   338842        1630396                          4.8
2              2022M06   265766        1098485                          4.1
3              2022M05   231089         870959                          3.8
4              2022M04   236212         994445                          4.2
5              2022M03   217695         872336                            4
6              2022M02   168206         608992                          3.6
7              2022M01   165818         776511                          4.7
8              2021M12   223444        1042988                          4.7
9              2021M11   213476         852548                            4

In [4]:
df.columns

Index(['fecha', 'turistas', 'Pernoctaciones', 'Duración media de los viajes'], dtype='object')

In [5]:
df.rename(columns={' ': 'fecha'}, inplace=True)

In [6]:
df.head()

                 fecha turistas Pernoctaciones Duración media de los viajes
0            Andalucía      NaN            NaN                          NaN
1              2022M07   338842        1630396                          4.8
2              2022M06   265766        1098485                          4.1
3              2022M05   231089         870959                          3.8
4              2022M04   236212         994445                          4.2

In [7]:
df['fecha_2']= df.fecha.apply(lambda x: 'None' if str(x).strip()[0].isnumeric() else str(x).strip())

In [8]:
df.fecha_2.value_counts()

None                                     156140
Andalucía                                   211
Comunitat Valenciana                        211
Total Nacional                              211
Rioja, La                                   211
                                          ...
Guinea-Bissau                                 1
Guinea Ecuatorial                             1
Kenia                                         1
Lesotho                                       1
Otros países o territorios de Oceanía         1
Name: fecha_2, Length: 231, dtype: int64

In [9]:
df.head(50)

,fecha,turistas,Pernoctaciones,Duración media de los viajes,fecha_2
0,Andalucía,NaN,NaN,NaN,Andalucía
1,2022M07,338842,1630396,4.8,None
2,2022M06,265766,1098485,4.1,None
3,2022M05,231089,870959,3.8,None
4,2022M04,236212,994445,4.2,None
5,2022M03,217695,872336,4,None
6,2022M02,168206,608992,3.6,None
7,2022M01,165818,776511,4.7,None
8,2021M12,223444,1042988,4.7,None
9,2021M11,213476,852548,4,None
10,2021M10,241509,1035834,4.3,None
11,2021M09,233782,1040898,4.5,None
12,2021M08,286383,1451870,5.1,None
13,2021M07,208878,925192,4.4,None
14,2021M06,166666,608952,3.7,None
15,2021M05,136068,465831,3.4,None
16,2021M04,95131,374273,3.9,None
17,2021M03,93599,351952,3.8,None
18,2021M02,59101,210637,3.6,None
19,2021M01,73855,302124,4.1,None
20,2020M12,87252,527765,6,None
21,2020M11,68618,364803,5.3,None
22,2020M10,120145,596472,5,None
23,2020M09,123371,558701,4.5,None
24,2020M08,170943,1073667,6.3,None
25,2020M07,134319,732121,5.5,None
26,2020M06,49990,238380,4.8,None
27,2020M05,40403,208410,5.2,None
28,2020M04,25739,147680,5.7,None
29,2020M03,159389,819972,5.1,None
30,2020M02,241170,1151775,4.8,None
31,2020M01,242204,1322416,5.5,None
32,2019M12,324463,1618723,5,None
33,2019M11,240738,1124745,4.7,None
34,2019M10,238589,1251958,5.2,None
35,2019M09,327338,1753909,5.4,None
36,2019M08,402796,2746823,6.8,None
37,2019M07,335082,1887118,5.6,None
38,Aragón,NaN,NaN,NaN,Aragón
39,2022M07,58149,308122,5.3,None
40,2022M06,39445,173260,4.4,None
41,2022M05,34377,138640,4,None
42,2022M04,40735,178043,4.4,None
43,2022M03,34566,132486,3.8,None
44,2022M02,23786,95548,4,None
45,2022M01,28567,131887,4.6,None
46,2021M12,35165,163074,4.6,None
47,2021M11,30772,121695,4,None
48,2021M10,37029,151991,4.1,None
49,2021M09,34478,164390,4.8,None

In [10]:
df.fecha_2.unique()

array(['Andalucía', 'None', 'Aragón', 'Asturias, Principado de',
       'Balears, Illes', 'Canarias', 'Cantabria', 'Castilla - La Mancha',
       'Castilla y León', 'Cataluña', 'Ceuta', 'Comunitat Valenciana',
       'Extremadura', 'Galicia', 'Madrid, Comunidad de', 'Melilla',
       'Murcia, Región de', 'Navarra, Comunidad Foral de', 'País Vasco',
       'Rioja, La', 'Total Nacional', 'Europa', 'Albania', 'Alemania',
       'Andorra', 'Armenia', 'Austria', 'Belarús', 'Bélgica',
       'Bosnia y Herzegovina', 'Bulgaria', 'Chipre', 'Croacia',
       'Dinamarca', 'Eslovenia', 'Estonia', 'Francia', 'Finlandia',
       'Georgia', 'Gibraltar', 'Grecia', 'Hungría', 'Irlanda', 'Islandia',
       'Italia', 'Letonia', 'Liechtenstein', 'Lituania', 'Luxemburgo',
       'Macedonia', 'Malta', 'Moldavia', 'Mónaco', 'Montenegro',
       'Noruega', 'Países Bajos', 'Polonia', 'Portugal', 'Reino Unido',
       'República Checa', 'República Eslovaca', 'Rumanía', 'Rusia',
       'San Marino', 'Santa Sede', 'Serbia', 'Suecia', 'Suiza', 'Ucrania',
       'Otros países o territorios de  Europa',
       'Unión Europea (sin España)', 'África', 'Angola', 'Argelia',
       'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde',
       'Camerún', 'Chad', 'Comores', 'Congo', 'Costa de Marfil',
       'Djibouti', 'Egipto', 'Eritrea', 'Etiopía', 'Gabón', 'Gambia',
       'Ghana', 'Guinea', 'Guinea-Bissau', 'Guinea Ecuatorial', 'Kenia',
       'Lesotho', 'Liberia', 'Libia', 'Madagascar', 'Malawi', 'Mali',
       'Marruecos', 'Mauricio', 'Mauritania', 'Mozambique', 'Namibia',
       'Níger', 'Nigeria', 'República Centroafricana',
       'República Democrática del Congo', 'Ruanda',
       'Santo Tomé y Príncipe', 'Senegal', 'Seychelles', 'Sierra Leona',
       'Somalia', 'Sudáfrica', 'Sudán', 'Sudán del Sur', 'Swazilandia',
       'Tanzania', 'Togo', 'Túnez', 'Uganda', 'Zambia', 'Zimbabwe',
       'Otros países o territorios de África', 'América',
       'América del Norte', 'Canadá', 'Estados Unidos de América',
       'México', 'Centro América y Caribe', 'Antigua y Barbuda',
       'Bahamas', 'Barbados', 'Belice', 'Costa Rica', 'Cuba', 'Dominica',
       'El Salvador', 'Granada', 'Guatemala', 'Haití', 'Honduras',
       'Jamaica', 'Nicaragua', 'Panamá', 'República Dominicana',
       'San Cristóbal y Nieves', 'San Vicente y las Granadinas',
       'Santa Lucía', 'Trinidad y Tobago', 'Sudamérica', 'Argentina',
       'Bolivia', 'Brasil', 'Chile', 'Colombia', 'Ecuador', 'Guyana',
       'Paraguay', 'Perú', 'Surinam', 'Uruguay', 'Venezuela',
       'Otros países o territorios de América', 'Asia', 'Afganistán',
       'Arabia Saudí', 'Azerbaiyán', 'Bahréin', 'Bangladesh', 'Bhután',
       'Brunei', 'Camboya', 'China', 'Corea', 'Corea del Norte',
       'Emiratos Árabes Unidos', 'Filipinas', 'India', 'Indonesia',
       'Irán', 'Iraq', 'Islas Marshall', 'Israel', 'Japón', 'Jordania',
       'Kazajstán', 'Kirguistán', 'Kuwait', 'Laos', 'Líbano', 'Malasia',
       'Maldivas', 'Mongolia', 'Myanmar', 'Nepal', 'Omán', 'Pakistán',
       'Palestina. Estado Observador, no miembro de Naciones Unidas',
       'Qatar', 'Singapur', 'Siria', 'Sri Lanka', 'Tailandia',
       'Tayikistán', 'Turkmenistán', 'Turquía', 'Uzbekistán', 'Vietnam',
       'Yemen', 'Otros países o territorios de Asia', 'Oceanía',
       'Australia', 'Fiji', 'Islas Cook', 'Islas Salomón', 'Kiribati',
       'Micronesia', 'Nauru', 'Nueva Zelanda', 'Palaos',
       'Papúa Nueva Guinea', 'Samoa', 'Timor Oriental', 'Tonga', 'Tuvalu',
       'Vanuatu', 'Otros países o territorios de Oceanía'], dtype=object)

In [11]:
def renombrar(x):
    if x.strip('')[0].isalpha():
        print(x)
    else:
        pass

In [12]:
def corregir_index(x):
    return x

In [13]:
# Otra forma de reemplazar la columna zona con los datos del lugar. Más lento
"""
for i,e in enumerate(df.fecha_2):
    if e == 'None':
        df.fecha_2[i] = df.fecha_2[i-1]
    else:
        pass


df.head(50)"""

"\nfor i,e in enumerate(df.fecha_2):\n    if e == 'None':\n        df.fecha_2[i] = df.fecha_2[i-1]\n    else:\n        pass\n\n\ndf.head(50)"

In [14]:
df.fecha_2=df.fecha_2.apply(lambda x: x if x!='None' else np.nan)

In [15]:
df.fecha_2.fillna(method='ffill', inplace=True)   # comprueba esto

In [16]:
df.fecha_2.unique()

array(['Andalucía', 'Aragón', 'Asturias, Principado de', 'Balears, Illes',
       'Canarias', 'Cantabria', 'Castilla - La Mancha', 'Castilla y León',
       'Cataluña', 'Ceuta', 'Comunitat Valenciana', 'Extremadura',
       'Galicia', 'Madrid, Comunidad de', 'Melilla', 'Murcia, Región de',
       'Navarra, Comunidad Foral de', 'País Vasco', 'Rioja, La',
       'Total Nacional', 'Europa', 'Albania', 'Alemania', 'Andorra',
       'Armenia', 'Austria', 'Belarús', 'Bélgica', 'Bosnia y Herzegovina',
       'Bulgaria', 'Chipre', 'Croacia', 'Dinamarca', 'Eslovenia',
       'Estonia', 'Francia', 'Finlandia', 'Georgia', 'Gibraltar',
       'Grecia', 'Hungría', 'Irlanda', 'Islandia', 'Italia', 'Letonia',
       'Liechtenstein', 'Lituania', 'Luxemburgo', 'Macedonia', 'Malta',
       'Moldavia', 'Mónaco', 'Montenegro', 'Noruega', 'Países Bajos',
       'Polonia', 'Portugal', 'Reino Unido', 'República Checa',
       'República Eslovaca', 'Rumanía', 'Rusia', 'San Marino',
       'Santa Sede', 'Serbia', 'Suecia', 'Suiza', 'Ucrania',
       'Otros países o territorios de  Europa',
       'Unión Europea (sin España)', 'África', 'Angola', 'Argelia',
       'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde',
       'Camerún', 'Chad', 'Comores', 'Congo', 'Costa de Marfil',
       'Djibouti', 'Egipto', 'Eritrea', 'Etiopía', 'Gabón', 'Gambia',
       'Ghana', 'Guinea', 'Guinea-Bissau', 'Guinea Ecuatorial', 'Kenia',
       'Lesotho', 'Liberia', 'Libia', 'Madagascar', 'Malawi', 'Mali',
       'Marruecos', 'Mauricio', 'Mauritania', 'Mozambique', 'Namibia',
       'Níger', 'Nigeria', 'República Centroafricana',
       'República Democrática del Congo', 'Ruanda',
       'Santo Tomé y Príncipe', 'Senegal', 'Seychelles', 'Sierra Leona',
       'Somalia', 'Sudáfrica', 'Sudán', 'Sudán del Sur', 'Swazilandia',
       'Tanzania', 'Togo', 'Túnez', 'Uganda', 'Zambia', 'Zimbabwe',
       'Otros países o territorios de África', 'América',
       'América del Norte', 'Canadá', 'Estados Unidos de América',
       'México', 'Centro América y Caribe', 'Antigua y Barbuda',
       'Bahamas', 'Barbados', 'Belice', 'Costa Rica', 'Cuba', 'Dominica',
       'El Salvador', 'Granada', 'Guatemala', 'Haití', 'Honduras',
       'Jamaica', 'Nicaragua', 'Panamá', 'República Dominicana',
       'San Cristóbal y Nieves', 'San Vicente y las Granadinas',
       'Santa Lucía', 'Trinidad y Tobago', 'Sudamérica', 'Argentina',
       'Bolivia', 'Brasil', 'Chile', 'Colombia', 'Ecuador', 'Guyana',
       'Paraguay', 'Perú', 'Surinam', 'Uruguay', 'Venezuela',
       'Otros países o territorios de América', 'Asia', 'Afganistán',
       'Arabia Saudí', 'Azerbaiyán', 'Bahréin', 'Bangladesh', 'Bhután',
       'Brunei', 'Camboya', 'China', 'Corea', 'Corea del Norte',
       'Emiratos Árabes Unidos', 'Filipinas', 'India', 'Indonesia',
       'Irán', 'Iraq', 'Islas Marshall', 'Israel', 'Japón', 'Jordania',
       'Kazajstán', 'Kirguistán', 'Kuwait', 'Laos', 'Líbano', 'Malasia',
       'Maldivas', 'Mongolia', 'Myanmar', 'Nepal', 'Omán', 'Pakistán',
       'Palestina. Estado Observador, no miembro de Naciones Unidas',
       'Qatar', 'Singapur', 'Siria', 'Sri Lanka', 'Tailandia',
       'Tayikistán', 'Turkmenistán', 'Turquía', 'Uzbekistán', 'Vietnam',
       'Yemen', 'Otros países o territorios de Asia', 'Oceanía',
       'Australia', 'Fiji', 'Islas Cook', 'Islas Salomón', 'Kiribati',
       'Micronesia', 'Nauru', 'Nueva Zelanda', 'Palaos',
       'Papúa Nueva Guinea', 'Samoa', 'Timor Oriental', 'Tonga', 'Tuvalu',
       'Vanuatu', 'Otros países o territorios de Oceanía'], dtype=object)

In [17]:
"""for x in df.Fecha[2:100]:
    print(x.strip()[0].isnumeric())
    renombrar(x)"""

'for x in df.Fecha[2:100]:\n    print(x.strip()[0].isnumeric())\n    renombrar(x)'

In [18]:
df.head(50)

,fecha,turistas,Pernoctaciones,Duración media de los viajes,fecha_2
0,Andalucía,NaN,NaN,NaN,Andalucía
1,2022M07,338842,1630396,4.8,Andalucía
2,2022M06,265766,1098485,4.1,Andalucía
3,2022M05,231089,870959,3.8,Andalucía
4,2022M04,236212,994445,4.2,Andalucía
5,2022M03,217695,872336,4,Andalucía
6,2022M02,168206,608992,3.6,Andalucía
7,2022M01,165818,776511,4.7,Andalucía
8,2021M12,223444,1042988,4.7,Andalucía
9,2021M11,213476,852548,4,Andalucía
10,2021M10,241509,1035834,4.3,Andalucía
11,2021M09,233782,1040898,4.5,Andalucía
12,2021M08,286383,1451870,5.1,Andalucía
13,2021M07,208878,925192,4.4,Andalucía
14,2021M06,166666,608952,3.7,Andalucía
15,2021M05,136068,465831,3.4,Andalucía
16,2021M04,95131,374273,3.9,Andalucía
17,2021M03,93599,351952,3.8,Andalucía
18,2021M02,59101,210637,3.6,Andalucía
19,2021M01,73855,302124,4.1,Andalucía
20,2020M12,87252,527765,6,Andalucía
21,2020M11,68618,364803,5.3,Andalucía
22,2020M10,120145,596472,5,Andalucía
23,2020M09,123371,558701,4.5,Andalucía
24,2020M08,170943,1073667,6.3,Andalucía
25,2020M07,134319,732121,5.5,Andalucía
26,2020M06,49990,238380,4.8,Andalucía
27,2020M05,40403,208410,5.2,Andalucía
28,2020M04,25739,147680,5.7,Andalucía
29,2020M03,159389,819972,5.1,Andalucía
30,2020M02,241170,1151775,4.8,Andalucía
31,2020M01,242204,1322416,5.5,Andalucía
32,2019M12,324463,1618723,5,Andalucía
33,2019M11,240738,1124745,4.7,Andalucía
34,2019M10,238589,1251958,5.2,Andalucía
35,2019M09,327338,1753909,5.4,Andalucía
36,2019M08,402796,2746823,6.8,Andalucía
37,2019M07,335082,1887118,5.6,Andalucía
38,Aragón,NaN,NaN,NaN,Aragón
39,2022M07,58149,308122,5.3,Aragón
40,2022M06,39445,173260,4.4,Aragón
41,2022M05,34377,138640,4,Aragón
42,2022M04,40735,178043,4.4,Aragón
43,2022M03,34566,132486,3.8,Aragón
44,2022M02,23786,95548,4,Aragón
45,2022M01,28567,131887,4.6,Aragón
46,2021M12,35165,163074,4.6,Aragón
47,2021M11,30772,121695,4,Aragón
48,2021M10,37029,151991,4.1,Aragón
49,2021M09,34478,164390,4.8,Aragón

In [19]:
#df.dropna(axis=0, subset=['Unnamed: 0', 'Turistas', 'Pernoctaciones'], inplace= True)  # borrar las filas nulas en esa columna

In [20]:
borrar= df[(df['Duración media de los viajes'].isna())& (df['turistas'].isna())& (df['Pernoctaciones'].isna())].index
borrar

Int64Index([     0,     38,     76,    114,    152,    190,    228,    266,
               304,    342,
            ...
            160190, 160228, 160266, 160304, 160342, 160380, 160418, 160456,
            160494, 160532],
           dtype='int64', length=4430)

In [21]:
df.drop(df.index[borrar])

,fecha,turistas,Pernoctaciones,Duración media de los viajes,fecha_2
1,2022M07,338842,1630396,4.8,Andalucía
2,2022M06,265766,1098485,4.1,Andalucía
3,2022M05,231089,870959,3.8,Andalucía
4,2022M04,236212,994445,4.2,Andalucía
5,2022M03,217695,872336,4,Andalucía
...,...,...,...,...,...
160565,2019M11,.,.,.,Total Nacional
160566,2019M10,.,.,.,Total Nacional
160567,2019M09,.,.,.,Total Nacional
160568,2019M08,.,.,.,Total Nacional
160569,2019M07,.,.,.,Total Nacional

In [22]:
df=df.drop(df.index[borrar])

In [23]:
# Borrar columna inecesaria.

#df.drop(['Unnamed: 0'], axis=1, inplace = True)
#df.head()

In [24]:
df.columns= ['Fecha', 'Turistas','Pernoctaciones','Duracion media de los viajes','Zona']
df.head(50)

,Fecha,Turistas,Pernoctaciones,Duracion media de los viajes,Zona
1,2022M07,338842,1630396,4.8,Andalucía
2,2022M06,265766,1098485,4.1,Andalucía
3,2022M05,231089,870959,3.8,Andalucía
4,2022M04,236212,994445,4.2,Andalucía
5,2022M03,217695,872336,4,Andalucía
6,2022M02,168206,608992,3.6,Andalucía
7,2022M01,165818,776511,4.7,Andalucía
8,2021M12,223444,1042988,4.7,Andalucía
9,2021M11,213476,852548,4,Andalucía
10,2021M10,241509,1035834,4.3,Andalucía
11,2021M09,233782,1040898,4.5,Andalucía
12,2021M08,286383,1451870,5.1,Andalucía
13,2021M07,208878,925192,4.4,Andalucía
14,2021M06,166666,608952,3.7,Andalucía
15,2021M05,136068,465831,3.4,Andalucía
16,2021M04,95131,374273,3.9,Andalucía
17,2021M03,93599,351952,3.8,Andalucía
18,2021M02,59101,210637,3.6,Andalucía
19,2021M01,73855,302124,4.1,Andalucía
20,2020M12,87252,527765,6,Andalucía
21,2020M11,68618,364803,5.3,Andalucía
22,2020M10,120145,596472,5,Andalucía
23,2020M09,123371,558701,4.5,Andalucía
24,2020M08,170943,1073667,6.3,Andalucía
25,2020M07,134319,732121,5.5,Andalucía
26,2020M06,49990,238380,4.8,Andalucía
27,2020M05,40403,208410,5.2,Andalucía
28,2020M04,25739,147680,5.7,Andalucía
29,2020M03,159389,819972,5.1,Andalucía
30,2020M02,241170,1151775,4.8,Andalucía
31,2020M01,242204,1322416,5.5,Andalucía
32,2019M12,324463,1618723,5,Andalucía
33,2019M11,240738,1124745,4.7,Andalucía
34,2019M10,238589,1251958,5.2,Andalucía
35,2019M09,327338,1753909,5.4,Andalucía
36,2019M08,402796,2746823,6.8,Andalucía
37,2019M07,335082,1887118,5.6,Andalucía
39,2022M07,58149,308122,5.3,Aragón
40,2022M06,39445,173260,4.4,Aragón
41,2022M05,34377,138640,4,Aragón
42,2022M04,40735,178043,4.4,Aragón
43,2022M03,34566,132486,3.8,Aragón
44,2022M02,23786,95548,4,Aragón
45,2022M01,28567,131887,4.6,Aragón
46,2021M12,35165,163074,4.6,Aragón
47,2021M11,30772,121695,4,Aragón
48,2021M10,37029,151991,4.1,Aragón
49,2021M09,34478,164390,4.8,Aragón
50,2021M08,43795,265036,6.1,Aragón
51,2021M07,29998,146151,4.9,Aragón

In [25]:
# Renombrar columnas

new_cols = [c.lower().rstrip().lstrip().replace(' ', '_') for c in df.columns]
new_cols

['fecha', 'turistas', 'pernoctaciones', 'duracion_media_de_los_viajes', 'zona']

In [26]:
dict(zip(df.columns, new_cols))

{'Fecha': 'fecha',
 'Turistas': 'turistas',
 'Pernoctaciones': 'pernoctaciones',
 'Duracion media de los viajes': 'duracion_media_de_los_viajes',
 'Zona': 'zona'}

In [27]:
df = df.rename(columns={k:v for k,v in zip(df.columns, new_cols)})
df.head(50)

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona
1,2022M07,338842,1630396,4.8,Andalucía
2,2022M06,265766,1098485,4.1,Andalucía
3,2022M05,231089,870959,3.8,Andalucía
4,2022M04,236212,994445,4.2,Andalucía
5,2022M03,217695,872336,4,Andalucía
6,2022M02,168206,608992,3.6,Andalucía
7,2022M01,165818,776511,4.7,Andalucía
8,2021M12,223444,1042988,4.7,Andalucía
9,2021M11,213476,852548,4,Andalucía
10,2021M10,241509,1035834,4.3,Andalucía
11,2021M09,233782,1040898,4.5,Andalucía
12,2021M08,286383,1451870,5.1,Andalucía
13,2021M07,208878,925192,4.4,Andalucía
14,2021M06,166666,608952,3.7,Andalucía
15,2021M05,136068,465831,3.4,Andalucía
16,2021M04,95131,374273,3.9,Andalucía
17,2021M03,93599,351952,3.8,Andalucía
18,2021M02,59101,210637,3.6,Andalucía
19,2021M01,73855,302124,4.1,Andalucía
20,2020M12,87252,527765,6,Andalucía
21,2020M11,68618,364803,5.3,Andalucía
22,2020M10,120145,596472,5,Andalucía
23,2020M09,123371,558701,4.5,Andalucía
24,2020M08,170943,1073667,6.3,Andalucía
25,2020M07,134319,732121,5.5,Andalucía
26,2020M06,49990,238380,4.8,Andalucía
27,2020M05,40403,208410,5.2,Andalucía
28,2020M04,25739,147680,5.7,Andalucía
29,2020M03,159389,819972,5.1,Andalucía
30,2020M02,241170,1151775,4.8,Andalucía
31,2020M01,242204,1322416,5.5,Andalucía
32,2019M12,324463,1618723,5,Andalucía
33,2019M11,240738,1124745,4.7,Andalucía
34,2019M10,238589,1251958,5.2,Andalucía
35,2019M09,327338,1753909,5.4,Andalucía
36,2019M08,402796,2746823,6.8,Andalucía
37,2019M07,335082,1887118,5.6,Andalucía
39,2022M07,58149,308122,5.3,Aragón
40,2022M06,39445,173260,4.4,Aragón
41,2022M05,34377,138640,4,Aragón
42,2022M04,40735,178043,4.4,Aragón
43,2022M03,34566,132486,3.8,Aragón
44,2022M02,23786,95548,4,Aragón
45,2022M01,28567,131887,4.6,Aragón
46,2021M12,35165,163074,4.6,Aragón
47,2021M11,30772,121695,4,Aragón
48,2021M10,37029,151991,4.1,Aragón
49,2021M09,34478,164390,4.8,Aragón
50,2021M08,43795,265036,6.1,Aragón
51,2021M07,29998,146151,4.9,Aragón

In [28]:
# Rellenar valores nulos con 0

df.fillna({'turistas': 0, 'name': 0}, inplace=True)
df.fillna({'pernoctaciones': 0, 'name': 0}, inplace=True)
df.fillna({'duracion_media_de_los_viajes': 0, 'name': 0}, inplace=True)
df.head()

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona
1,2022M07,338842,1630396,4.8,Andalucía
2,2022M06,265766,1098485,4.1,Andalucía
3,2022M05,231089,870959,3.8,Andalucía
4,2022M04,236212,994445,4.2,Andalucía
5,2022M03,217695,872336,4,Andalucía

In [29]:
df.turistas = df.turistas.replace({".": 0," ": 0})
df.pernoctaciones = df.pernoctaciones.replace({".": 0," ": 0})
df.duracion_media_de_los_viajes = df.duracion_media_de_los_viajes.replace({".": 0," ": 0})

In [30]:
df = df.astype({'turistas': 'int32', 'pernoctaciones': 'int32', 'duracion_media_de_los_viajes': 'int32'})

In [31]:
cambio_letras={'á': 'a', 'é': 'e', 'í': 'i', 'ó':'o', 'ú': 'u'}

def quitar_acentos(palabra):
    
    resultado=''
    
    palabra=palabra.lower()
    
    for letra in palabra:
        
        if letra in cambio_letras.keys():
            
            resultado+=cambio_letras[letra]
            
        else:
            resultado+=letra
            
    return resultado.capitalize()
            

df['zona']=df['zona'].apply(quitar_acentos)

df['zona'].head()

1    Andalucia
2    Andalucia
3    Andalucia
4    Andalucia
5    Andalucia
Name: zona, dtype: object

In [32]:
# Cambiar columnas a valores numéricos

df['turistas']=pd.to_numeric(df['turistas'],downcast='integer')
df['pernoctaciones']=pd.to_numeric(df['pernoctaciones'],downcast='integer')
df['duracion_media_de_los_viajes']=pd.to_numeric(df['duracion_media_de_los_viajes'],downcast='integer')

### Turistas en el extranjero de residentes en España por CCAA

In [33]:
# Dividir documento en 3 partes. Turistas por cada ccaa en el mundo, en Europa y en cada país.

ccaa_mundo= df.iloc[:740,:]
ccaa_mundo

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona
1,2022M07,338842,1630396,4,Andalucia
2,2022M06,265766,1098485,4,Andalucia
3,2022M05,231089,870959,3,Andalucia
4,2022M04,236212,994445,4,Andalucia
5,2022M03,217695,872336,4,Andalucia
...,...,...,...,...,...
755,2019M11,1743171,7495531,4,Total nacional
756,2019M10,1797819,8472593,4,Total nacional
757,2019M09,2432315,13005660,5,Total nacional
758,2019M08,3076317,22760051,7,Total nacional
759,2019M07,2195973,12421257,5,Total nacional

In [34]:
ccaa_mundo.fillna({'turistas': 0, 'name': 0}, inplace=True)
ccaa_mundo.fillna({'pernoctaciones': 0, 'name': 0}, inplace=True)
ccaa_mundo.fillna({'duracion_media_de_los_viajes': 0, 'name': 0}, inplace=True)
ccaa_mundo.head()

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona
1,2022M07,338842,1630396,4,Andalucia
2,2022M06,265766,1098485,4,Andalucia
3,2022M05,231089,870959,3,Andalucia
4,2022M04,236212,994445,4,Andalucia
5,2022M03,217695,872336,4,Andalucia

In [35]:
ccaa_mundo.turistas = ccaa_mundo.turistas.replace({".": 0," ": 0})
ccaa_mundo.pernoctaciones = ccaa_mundo.pernoctaciones.replace({".": 0," ": 0})
ccaa_mundo.duracion_media_de_los_viajes = ccaa_mundo.duracion_media_de_los_viajes.replace({".": 0," ": 0})

In [36]:
ccaa_mundo = ccaa_mundo.astype({'turistas': 'int32', 'pernoctaciones': 'int32', 'duracion_media_de_los_viajes': 'int32'})

In [37]:
ccaa_mundo.to_csv('emisor_ccaa_mundo.csv', index=False)

### Turistas totales en Europa residentes en España desglosado por CCAA

In [38]:
ccaa_europa= df.iloc[740:1480,:]
ccaa_europa.head(50)

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona
762,2022M07,300063,1399570,4,Andalucia
763,2022M06,231677,945481,4,Andalucia
764,2022M05,201407,738742,3,Andalucia
765,2022M04,206567,841834,4,Andalucia
766,2022M03,190252,742544,3,Andalucia
767,2022M02,148854,528432,3,Andalucia
768,2022M01,141331,633834,4,Andalucia
769,2021M12,198114,904219,4,Andalucia
770,2021M11,188368,732375,3,Andalucia
771,2021M10,218256,930008,4,Andalucia
772,2021M09,209433,928112,4,Andalucia
773,2021M08,259253,1313926,5,Andalucia
774,2021M07,185893,831059,4,Andalucia
775,2021M06,144413,535767,3,Andalucia
776,2021M05,111599,394357,3,Andalucia
777,2021M04,70758,302133,4,Andalucia
778,2021M03,71569,287972,4,Andalucia
779,2021M02,44031,178212,4,Andalucia
780,2021M01,58513,258466,4,Andalucia
781,2020M12,71893,452078,6,Andalucia
782,2020M11,56238,305537,5,Andalucia
783,2020M10,108149,540124,5,Andalucia
784,2020M09,112185,512776,4,Andalucia
785,2020M08,159267,1023320,6,Andalucia
786,2020M07,124137,686587,5,Andalucia
787,2020M06,40047,205175,5,Andalucia
788,2020M05,33030,176891,5,Andalucia
789,2020M04,22695,123727,5,Andalucia
790,2020M03,133163,645942,4,Andalucia
791,2020M02,208395,944961,4,Andalucia
792,2020M01,206803,1048872,5,Andalucia
793,2019M12,285604,1348238,4,Andalucia
794,2019M11,205836,882249,4,Andalucia
795,2019M10,203411,1003288,4,Andalucia
796,2019M09,283270,1414452,5,Andalucia
797,2019M08,360667,2327694,6,Andalucia
798,2019M07,301409,1640059,5,Andalucia
800,2022M07,52888,264537,5,Aragon
801,2022M06,35727,148345,4,Aragon
802,2022M05,31059,116481,3,Aragon
803,2022M04,36873,150536,4,Aragon
804,2022M03,31263,111315,3,Aragon
805,2022M02,21794,81060,3,Aragon
806,2022M01,26240,107020,4,Aragon
807,2021M12,32076,138558,4,Aragon
808,2021M11,28082,103935,3,Aragon
809,2021M10,34278,135972,4,Aragon
810,2021M09,31995,146261,4,Aragon
811,2021M08,40884,241491,5,Aragon
812,2021M07,27805,132150,4,Aragon

In [39]:
ccaa_europa.fillna({'turistas': 0, 'name': 0}, inplace=True)
ccaa_europa.fillna({'pernoctaciones': 0, 'name': 0}, inplace=True)
ccaa_europa.fillna({'duracion_media_de_los_viajes': 0, 'name': 0}, inplace=True)

In [40]:
ccaa_europa.turistas = ccaa_europa.turistas.replace({".": 0," ": 0})
ccaa_europa.pernoctaciones = ccaa_europa.pernoctaciones.replace({".": 0," ": 0})
ccaa_europa.duracion_media_de_los_viajes = ccaa_europa.duracion_media_de_los_viajes.replace({".": 0," ": 0})

In [41]:
ccaa_europa = ccaa_europa.astype({'turistas': 'int32', 'pernoctaciones': 'int32', 'duracion_media_de_los_viajes': 'int32'})

In [42]:
ccaa_europa.to_csv('emisor_ccaa_europa.csv', index=False)

### Turistas por países europeos residentes en España

In [43]:
ccaa_pais_europeo= df.iloc[1480:37740,:]
ccaa_pais_europeo

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona
1523,2022M07,219,1586,7,Andalucia
1524,2022M06,104,424,4,Andalucia
1525,2022M05,81,376,4,Andalucia
1526,2022M04,56,290,5,Andalucia
1527,2022M03,50,245,4,Andalucia
...,...,...,...,...,...
38805,2019M11,1209436,4498054,3,Total nacional
38806,2019M10,1281375,5326841,4,Total nacional
38807,2019M09,1781368,8637220,4,Total nacional
38808,2019M08,2273147,15593924,6,Total nacional
38809,2019M07,1626254,8629693,5,Total nacional

In [44]:
# Añado columna pais de origen 

dic= ['Albania', 'Alemania', 'Andorra', 'Armenia', 'Austria', 'Belarus', 'Belgica', 'Bosnia Herzegovina', 'Bulgaria', 'Chipre',
    'Croacia', 'Dinamarca', 'Eslovenia', 'Estonia', 'Francia', 'Finlandia', 'Georgia', 'Gibraltar', 'Grecia', 'Hungria', 
      'Irlanda', 'Islandia', 'Italia', 'Letonia', 'Liechtenstein', 'Lituania', 'Luxemburgo', 'Macedonia', 'Malta', 'Moldavia', 
     'Monaco', 'Montenegro', 'Noruega', 'Países Bajos', 'Polonia', 'Portugal', 'Reino Unido', 'República Checa', 
      'República Eslovaca', 'Rumania', 'Rusia', 'San Marino', 'Santa Sede', 'Serbia', 'Suecia', 'Suiza', 'Ucrania', 
      'Otros países o territorios de  Europa', 'Unión Europea (sin España)']

In [45]:
ccaa_pais_europeo.shape[0] / len(dic)

740.0

In [46]:
todo_36 = []


for e in dic:
    for i in range(740):
        todo_36.append(e)

In [47]:
ccaa_pais_europeo['pais_destino']=todo_36

ccaa_pais_europeo

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona,pais_destino
1523,2022M07,219,1586,7,Andalucia,Albania
1524,2022M06,104,424,4,Andalucia,Albania
1525,2022M05,81,376,4,Andalucia,Albania
1526,2022M04,56,290,5,Andalucia,Albania
1527,2022M03,50,245,4,Andalucia,Albania
...,...,...,...,...,...,...
38805,2019M11,1209436,4498054,3,Total nacional,Unión Europea (sin España)
38806,2019M10,1281375,5326841,4,Total nacional,Unión Europea (sin España)
38807,2019M09,1781368,8637220,4,Total nacional,Unión Europea (sin España)
38808,2019M08,2273147,15593924,6,Total nacional,Unión Europea (sin España)
38809,2019M07,1626254,8629693,5,Total nacional,Unión Europea (sin España)

In [48]:
# Llamada a la función para quitar acentos

ccaa_pais_europeo['pais_destino']=ccaa_pais_europeo['pais_destino'].apply(quitar_acentos)

In [49]:
ccaa_pais_europeo.fillna({'turistas': 0, 'name': 0}, inplace=True)
ccaa_pais_europeo.fillna({'pernoctaciones': 0, 'name': 0}, inplace=True)
ccaa_pais_europeo.fillna({'duracion_media_de_los_viajes': 0, 'name': 0}, inplace=True)

In [50]:
ccaa_pais_europeo.turistas = ccaa_pais_europeo.turistas.replace({".": 0," ": 0})
ccaa_pais_europeo.pernoctaciones = ccaa_pais_europeo.pernoctaciones.replace({".": 0," ": 0})
ccaa_pais_europeo.duracion_media_de_los_viajes = ccaa_pais_europeo.duracion_media_de_los_viajes.replace({".": 0," ": 0})

In [51]:
ccaa_pais_europeo = ccaa_pais_europeo.astype({'turistas': 'int32', 'pernoctaciones': 'int32', 'duracion_media_de_los_viajes': 'int32'})

In [52]:
ccaa_pais_europeo.to_csv('emisor_ccaa_pais.csv', index=False)

### África

In [53]:
emisor_ccaa_africa= df.iloc[37740:79180,:]
emisor_ccaa_africa

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona
38812,2022M07,22925,87428,3,Andalucia
38813,2022M06,21258,52940,2,Andalucia
38814,2022M05,18441,46111,2,Andalucia
38815,2022M04,17906,58426,3,Andalucia
38816,2022M03,15714,44233,2,Andalucia
...,...,...,...,...,...
81421,2019M11,0,0,0,Total nacional
81422,2019M10,0,0,0,Total nacional
81423,2019M09,0,0,0,Total nacional
81424,2019M08,0,0,0,Total nacional
81425,2019M07,0,0,0,Total nacional

In [54]:
dic2= ['Totales Africa','Angola','Argelia','Benin','Botswana','Burkina Faso','Burundi','Cabo Verde','Camerún',
       'Chad','Comores','Congo','Costa de Marfil','Djibouti','Egipto','Eritrea','Etiopia','Gabón','Gambia','Ghana','Guinea',
       'Guinea-Bissau','Guinea Ecuatorial','Kenia','Lesotho','Liberia','Libia','Madagascar','Malawi','Mali','Marruecos',
       'Mauricio','Mauritania','Mozambique','Namibia','Níger','Nigeria','República Centroafricana',
       'República Democrática del Congo','Ruanda','Santo Tomé y Príncipe','Senegal','Seychelles','Sierra Leona','Somalia',
       'Sudáfrica','Sudán','Sudán del Sur','Swazilandia','Tanzania','Togo','Túnez','Uganda','Zambia','Zimbabwe',
       'Otros países o territorios de África']

In [55]:
todo2 = []


for e in dic2:
    for i in range(740):
        todo2.append(e)

In [56]:
emisor_ccaa_africa['pais_destino']=todo2

emisor_ccaa_africa.head(40)

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona,pais_destino
38812,2022M07,22925,87428,3,Andalucia,Totales Africa
38813,2022M06,21258,52940,2,Andalucia,Totales Africa
38814,2022M05,18441,46111,2,Andalucia,Totales Africa
38815,2022M04,17906,58426,3,Andalucia,Totales Africa
38816,2022M03,15714,44233,2,Andalucia,Totales Africa
38817,2022M02,11424,21828,1,Andalucia,Totales Africa
38818,2022M01,14352,36278,2,Andalucia,Totales Africa
38819,2021M12,13638,37162,2,Andalucia,Totales Africa
38820,2021M11,15897,49938,3,Andalucia,Totales Africa
38821,2021M10,16084,49851,3,Andalucia,Totales Africa
38822,2021M09,17119,50793,3,Andalucia,Totales Africa
38823,2021M08,18812,60314,3,Andalucia,Totales Africa
38824,2021M07,17588,46158,2,Andalucia,Totales Africa
38825,2021M06,18731,43118,2,Andalucia,Totales Africa
38826,2021M05,21997,49080,2,Andalucia,Totales Africa
38827,2021M04,21205,43344,2,Andalucia,Totales Africa
38828,2021M03,19474,43561,2,Andalucia,Totales Africa
38829,2021M02,13364,20019,1,Andalucia,Totales Africa
38830,2021M01,12961,24277,1,Andalucia,Totales Africa
38831,2020M12,12095,45757,3,Andalucia,Totales Africa
38832,2020M11,10228,40823,4,Andalucia,Totales Africa
38833,2020M10,9778,38951,4,Andalucia,Totales Africa
38834,2020M09,9357,33474,3,Andalucia,Totales Africa
38835,2020M08,10173,34416,3,Andalucia,Totales Africa
38836,2020M07,8830,31090,3,Andalucia,Totales Africa
38837,2020M06,9261,25499,2,Andalucia,Totales Africa
38838,2020M05,6877,22494,3,Andalucia,Totales Africa
38839,2020M04,2429,14279,5,Andalucia,Totales Africa
38840,2020M03,14095,64185,4,Andalucia,Totales Africa
38841,2020M02,17563,80126,4,Andalucia,Totales Africa
38842,2020M01,17265,96647,5,Andalucia,Totales Africa
38843,2019M12,18250,90155,4,Andalucia,Totales Africa
38844,2019M11,16091,82318,5,Andalucia,Totales Africa
38845,2019M10,16146,84824,5,Andalucia,Totales Africa
38846,2019M09,20897,124252,5,Andalucia,Totales Africa
38847,2019M08,16170,133955,8,Andalucia,Totales Africa
38848,2019M07,13697,73009,5,Andalucia,Totales Africa
38850,2022M07,1817,11540,6,Aragon,Totales Africa
38851,2022M06,1287,5659,4,Aragon,Totales Africa
38852,2022M05,1127,4898,4,Aragon,Totales Africa

In [57]:
# Llamada a la función para quitar acentos

emisor_ccaa_africa['pais_destino']=emisor_ccaa_africa['pais_destino'].apply(quitar_acentos)

In [58]:
emisor_ccaa_africa.fillna({'turistas': 0, 'name': 0}, inplace=True)
emisor_ccaa_africa.fillna({'pernoctaciones': 0, 'name': 0}, inplace=True)
emisor_ccaa_africa.fillna({'duracion_media_de_los_viajes': 0, 'name': 0}, inplace=True)

In [59]:
emisor_ccaa_africa.turistas = emisor_ccaa_africa.turistas.replace({".": 0," ": 0})
emisor_ccaa_africa.pernoctaciones = emisor_ccaa_africa.pernoctaciones.replace({".": 0," ": 0})
emisor_ccaa_africa.duracion_media_de_los_viajes = emisor_ccaa_africa.duracion_media_de_los_viajes.replace({".": 0," ": 0})

In [60]:
emisor_ccaa_africa = emisor_ccaa_africa.astype({'turistas': 'int32', 'pernoctaciones': 'int32', 'duracion_media_de_los_viajes': 'int32'})

In [61]:
emisor_ccaa_africa.to_csv('emisor_ccaa_africa.csv', index=False)

### América

In [62]:
emisor_ccaa_america= df.iloc[79180:108780,:]
emisor_ccaa_america

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona
81428,2022M07,10649,106952,10,Andalucia
81429,2022M06,8300,71400,8,Andalucia
81430,2022M05,7388,63807,8,Andalucia
81431,2022M04,7931,69060,8,Andalucia
81432,2022M03,7815,63506,8,Andalucia
...,...,...,...,...,...
111861,2019M11,0,0,0,Total nacional
111862,2019M10,0,0,0,Total nacional
111863,2019M09,0,0,0,Total nacional
111864,2019M08,0,0,0,Total nacional
111865,2019M07,0,0,0,Total nacional

In [63]:
dic3= ['Totales America','América del Norte','Canadá','Estados Unidos de América','México','Centro América y Caribe',
       'Antigua y Barbuda','Bahamas','Barbados','Belice','Costa Rica','Cuba','Dominica','El Salvador','Granada','Guatemala',
       'Haití',
       'Honduras','Jamaica',
       'Nicaragua','Panamá','República Dominicana','San Cristóbal y Nieves','San Vicente y las Granadinas','Santa Lucía',
       'Trinidad y Tobago','Sudamérica','Argentina','Bolivia',
       'Brasil','Chile','Colombia','Ecuador','Guyana','Paraguay','Perú',
       'Surinam','Uruguay','Venezuela','Otros países o territorios de América']

In [64]:
todo3 = []


for e in dic3:
    for i in range(740):
        todo3.append(e)

In [65]:
emisor_ccaa_america['pais_destino']=todo3

emisor_ccaa_america.head(40)

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona,pais_destino
81428,2022M07,10649,106952,10,Andalucia,Totales America
81429,2022M06,8300,71400,8,Andalucia,Totales America
81430,2022M05,7388,63807,8,Andalucia,Totales America
81431,2022M04,7931,69060,8,Andalucia,Totales America
81432,2022M03,7815,63506,8,Andalucia,Totales America
81433,2022M02,4932,42918,8,Andalucia,Totales America
81434,2022M01,7340,86697,11,Andalucia,Totales America
81435,2021M12,8038,79853,9,Andalucia,Totales America
81436,2021M11,5769,48536,8,Andalucia,Totales America
81437,2021M10,3856,35841,9,Andalucia,Totales America
81438,2021M09,4396,44239,10,Andalucia,Totales America
81439,2021M08,5200,55631,10,Andalucia,Totales America
81440,2021M07,3461,35247,10,Andalucia,Totales America
81441,2021M06,2303,22081,9,Andalucia,Totales America
81442,2021M05,1522,16372,10,Andalucia,Totales America
81443,2021M04,1764,18047,10,Andalucia,Totales America
81444,2021M03,1438,13248,9,Andalucia,Totales America
81445,2021M02,822,7009,8,Andalucia,Totales America
81446,2021M01,1419,13507,9,Andalucia,Totales America
81447,2020M12,1951,20266,10,Andalucia,Totales America
81448,2020M11,1093,11159,10,Andalucia,Totales America
81449,2020M10,978,9197,9,Andalucia,Totales America
81450,2020M09,705,6107,8,Andalucia,Totales America
81451,2020M08,735,8496,11,Andalucia,Totales America
81452,2020M07,782,8684,11,Andalucia,Totales America
81453,2020M06,433,4821,11,Andalucia,Totales America
81454,2020M05,331,4455,13,Andalucia,Totales America
81455,2020M04,425,6077,14,Andalucia,Totales America
81456,2020M03,8165,78350,9,Andalucia,Totales America
81457,2020M02,9203,83393,9,Andalucia,Totales America
81458,2020M01,11260,120460,10,Andalucia,Totales America
81459,2019M12,13320,127628,9,Andalucia,Totales America
81460,2019M11,10891,99612,9,Andalucia,Totales America
81461,2019M10,11290,106413,9,Andalucia,Totales America
81462,2019M09,14743,146773,10,Andalucia,Totales America
81463,2019M08,16455,192337,11,Andalucia,Totales America
81464,2019M07,12608,117660,9,Andalucia,Totales America
81466,2022M07,2471,25039,10,Aragon,Totales America
81467,2022M06,1703,14895,8,Aragon,Totales America
81468,2022M05,1522,13511,8,Aragon,Totales America

In [66]:
# Llamada a la función para quitar acentos

emisor_ccaa_america['pais_destino']=emisor_ccaa_america['pais_destino'].apply(quitar_acentos)

In [67]:
emisor_ccaa_america.fillna({'turistas': 0, 'name': 0}, inplace=True)
emisor_ccaa_africa.fillna({'pernoctaciones': 0, 'name': 0}, inplace=True)
emisor_ccaa_africa.fillna({'duracion_media_de_los_viajes': 0, 'name': 0}, inplace=True)

In [68]:
emisor_ccaa_america.turistas = emisor_ccaa_america.turistas.replace({".": 0," ": 0})
emisor_ccaa_america.pernoctaciones = emisor_ccaa_america.pernoctaciones.replace({".": 0," ": 0})
emisor_ccaa_america.duracion_media_de_los_viajes = emisor_ccaa_america.duracion_media_de_los_viajes.replace({".": 0," ": 0})

In [69]:
emisor_ccaa_america = emisor_ccaa_america.astype({'turistas': 'int32', 'pernoctaciones': 'int32', 'duracion_media_de_los_viajes': 'int32'})

In [70]:
emisor_ccaa_america.to_csv('emisor_ccaa_america.csv', index=False)

### Ásia

In [71]:
emisor_ccaa_asia= df.iloc[108780:143560,:]
emisor_ccaa_asia

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona
111868,2022M07,5124,35572,6,Andalucia
111869,2022M06,4475,28021,6,Andalucia
111870,2022M05,3808,21837,5,Andalucia
111871,2022M04,3767,24439,6,Andalucia
111872,2022M03,3871,21695,5,Andalucia
...,...,...,...,...,...
147628,2019M11,227,1724,7,Total nacional
147629,2019M10,233,1682,7,Total nacional
147630,2019M09,180,1476,8,Total nacional
147631,2019M08,238,2350,9,Total nacional
147632,2019M07,214,1375,6,Total nacional

In [72]:
dic4= ['Totales Asia','Afganistán','Arabia Saudí','Azerbaiyán','Bahréin','Bangladesh',
       'Bhután','Brunei','Camboya','China','Corea','Corea del Norte','Emiratos Árabes Unidos','Filipinas','India','Indonesia',
       'Irán',
       'Iraq','Islas Marshall',
       'Israel','Japón','Jordania','Kazajstán','Kirguistán','Kuwait',
       'Laos','Líbano','Malasia','Maldivas',
       'Mongolia','Myanmar','Nepal','Omán','Pakistán','Palestina','Qatar',
       'Singapur','Siria','Sri Lanka','Tailandia','Tayikistán','Turkmenistán','Turquía','Uzbekistán',
       'Vietnam','Yemen','Otros países o territorios de Asia']

In [73]:
todo4 = []


for e in dic4:
    for i in range(740):
        todo4.append(e)

In [74]:
emisor_ccaa_asia['pais_destino']=todo4

emisor_ccaa_asia.head(40)

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona,pais_destino
111868,2022M07,5124,35572,6,Andalucia,Totales Asia
111869,2022M06,4475,28021,6,Andalucia,Totales Asia
111870,2022M05,3808,21837,5,Andalucia,Totales Asia
111871,2022M04,3767,24439,6,Andalucia,Totales Asia
111872,2022M03,3871,21695,5,Andalucia,Totales Asia
111873,2022M02,2972,15520,5,Andalucia,Totales Asia
111874,2022M01,2775,19507,7,Andalucia,Totales Asia
111875,2021M12,3621,21599,6,Andalucia,Totales Asia
111876,2021M11,3442,21699,6,Andalucia,Totales Asia
111877,2021M10,3310,20073,6,Andalucia,Totales Asia
111878,2021M09,2816,17651,6,Andalucia,Totales Asia
111879,2021M08,3118,21999,7,Andalucia,Totales Asia
111880,2021M07,1931,12653,6,Andalucia,Totales Asia
111881,2021M06,1215,7928,6,Andalucia,Totales Asia
111882,2021M05,950,6022,6,Andalucia,Totales Asia
111883,2021M04,1404,10749,7,Andalucia,Totales Asia
111884,2021M03,1113,7165,6,Andalucia,Totales Asia
111885,2021M02,866,5256,6,Andalucia,Totales Asia
111886,2021M01,962,5874,6,Andalucia,Totales Asia
111887,2020M12,1313,9664,7,Andalucia,Totales Asia
111888,2020M11,1050,7250,6,Andalucia,Totales Asia
111889,2020M10,1240,8200,6,Andalucia,Totales Asia
111890,2020M09,1124,6344,5,Andalucia,Totales Asia
111891,2020M08,768,7435,9,Andalucia,Totales Asia
111892,2020M07,563,5618,10,Andalucia,Totales Asia
111893,2020M06,229,2636,11,Andalucia,Totales Asia
111894,2020M05,165,4570,27,Andalucia,Totales Asia
111895,2020M04,173,3289,19,Andalucia,Totales Asia
111896,2020M03,3814,29614,7,Andalucia,Totales Asia
111897,2020M02,5875,41563,7,Andalucia,Totales Asia
111898,2020M01,6629,52553,7,Andalucia,Totales Asia
111899,2019M12,7103,50288,7,Andalucia,Totales Asia
111900,2019M11,7794,59024,7,Andalucia,Totales Asia
111901,2019M10,7633,56345,7,Andalucia,Totales Asia
111902,2019M09,8315,67258,8,Andalucia,Totales Asia
111903,2019M08,9377,91063,9,Andalucia,Totales Asia
111904,2019M07,7269,55405,7,Andalucia,Totales Asia
111906,2022M07,957,6873,7,Aragon,Totales Asia
111907,2022M06,728,4361,6,Aragon,Totales Asia
111908,2022M05,635,3540,5,Aragon,Totales Asia

In [75]:
# Llamada a la función para quitar acentos

emisor_ccaa_asia['pais_destino']=emisor_ccaa_asia['pais_destino'].apply(quitar_acentos)

In [76]:
emisor_ccaa_asia.fillna({'turistas': 0, 'name': 0}, inplace=True)
emisor_ccaa_asia.fillna({'pernoctaciones': 0, 'name': 0}, inplace=True)
emisor_ccaa_asia.fillna({'duracion_media_de_los_viajes': 0, 'name': 0}, inplace=True)

In [77]:
emisor_ccaa_asia.turistas = emisor_ccaa_asia.turistas.replace({".": 0," ": 0})
emisor_ccaa_asia.pernoctaciones = emisor_ccaa_asia.pernoctaciones.replace({".": 0," ": 0})
emisor_ccaa_asia.duracion_media_de_los_viajes = emisor_ccaa_asia.duracion_media_de_los_viajes.replace({".": 0," ": 0})

In [78]:
emisor_ccaa_america = emisor_ccaa_asia.astype({'turistas': 'int32', 'pernoctaciones': 'int32', 'duracion_media_de_los_viajes': 'int32'})

In [79]:
emisor_ccaa_asia.to_csv('emisor_ccaa_asia.csv', index=False)

### Oceanía

In [80]:
emisor_ccaa_oceania= df.iloc[143560:,:]
emisor_ccaa_oceania

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona
147635,2022M07,81,874,10,Andalucia
147636,2022M06,56,643,11,Andalucia
147637,2022M05,45,462,10,Andalucia
147638,2022M04,41,686,16,Andalucia
147639,2022M03,43,358,8,Andalucia
...,...,...,...,...,...
160565,2019M11,0,0,0,Total nacional
160566,2019M10,0,0,0,Total nacional
160567,2019M09,0,0,0,Total nacional
160568,2019M08,0,0,0,Total nacional
160569,2019M07,0,0,0,Total nacional

In [81]:
dic5= ['Totales Oceanía','Australia','Fiji','Islas Cook','Islas Salomón','Kiribati',
       'Micronesia','Nauru','Nueva Zelanda','Palaos','Papúa Nueva Guinea','Samoa','Timor Oriental',
       'Tonga','Tuvalu','Vanuatu','Otros países o territorios de Oceanía']

In [82]:
todo5 = []


for e in dic5:
    for i in range(740):
        todo5.append(e)

In [83]:
emisor_ccaa_oceania['pais_destino']=todo5

emisor_ccaa_oceania.head(40)

,fecha,turistas,pernoctaciones,duracion_media_de_los_viajes,zona,pais_destino
147635,2022M07,81,874,10,Andalucia,Totales Oceanía
147636,2022M06,56,643,11,Andalucia,Totales Oceanía
147637,2022M05,45,462,10,Andalucia,Totales Oceanía
147638,2022M04,41,686,16,Andalucia,Totales Oceanía
147639,2022M03,43,358,8,Andalucia,Totales Oceanía
147640,2022M02,0,0,0,Andalucia,Totales Oceanía
147641,2022M01,0,0,0,Andalucia,Totales Oceanía
147642,2021M12,33,155,4,Andalucia,Totales Oceanía
147643,2021M11,0,0,0,Andalucia,Totales Oceanía
147644,2021M10,0,0,0,Andalucia,Totales Oceanía
147645,2021M09,0,0,0,Andalucia,Totales Oceanía
147646,2021M08,0,0,0,Andalucia,Totales Oceanía
147647,2021M07,0,0,0,Andalucia,Totales Oceanía
147648,2021M06,0,0,0,Andalucia,Totales Oceanía
147649,2021M05,0,0,0,Andalucia,Totales Oceanía
147650,2021M04,0,0,0,Andalucia,Totales Oceanía
147651,2021M03,0,0,0,Andalucia,Totales Oceanía
147652,2021M02,0,0,0,Andalucia,Totales Oceanía
147653,2021M01,0,0,0,Andalucia,Totales Oceanía
147654,2020M12,0,0,0,Andalucia,Totales Oceanía
147655,2020M11,0,0,0,Andalucia,Totales Oceanía
147656,2020M10,0,0,0,Andalucia,Totales Oceanía
147657,2020M09,0,0,0,Andalucia,Totales Oceanía
147658,2020M08,0,0,0,Andalucia,Totales Oceanía
147659,2020M07,0,0,0,Andalucia,Totales Oceanía
147660,2020M06,0,0,0,Andalucia,Totales Oceanía
147661,2020M05,0,0,0,Andalucia,Totales Oceanía
147662,2020M04,0,0,0,Andalucia,Totales Oceanía
147663,2020M03,152,1881,12,Andalucia,Totales Oceanía
147664,2020M02,134,1732,12,Andalucia,Totales Oceanía
147665,2020M01,247,3884,15,Andalucia,Totales Oceanía
147666,2019M12,186,2414,13,Andalucia,Totales Oceanía
147667,2019M11,126,1542,12,Andalucia,Totales Oceanía
147668,2019M10,109,1088,10,Andalucia,Totales Oceanía
147669,2019M09,113,1174,10,Andalucia,Totales Oceanía
147670,2019M08,127,1774,14,Andalucia,Totales Oceanía
147671,2019M07,99,985,9,Andalucia,Totales Oceanía
147673,2022M07,0,0,0,Aragon,Totales Oceanía
147674,2022M06,0,0,0,Aragon,Totales Oceanía
147675,2022M05,34,210,6,Aragon,Totales Oceanía

In [84]:
# Llamada a la función para quitar acentos

emisor_ccaa_oceania['pais_destino']=emisor_ccaa_oceania['pais_destino'].apply(quitar_acentos)

In [85]:
emisor_ccaa_oceania.fillna({'turistas': 0, 'name': 0}, inplace=True)
emisor_ccaa_oceania.fillna({'pernoctaciones': 0, 'name': 0}, inplace=True)
emisor_ccaa_oceania.fillna({'duracion_media_de_los_viajes': 0, 'name': 0}, inplace=True)

In [86]:
emisor_ccaa_oceania.turistas = emisor_ccaa_oceania.turistas.replace({".": 0," ": 0})
emisor_ccaa_oceania.pernoctaciones = emisor_ccaa_oceania.pernoctaciones.replace({".": 0," ": 0})
emisor_ccaa_oceania.duracion_media_de_los_viajes = emisor_ccaa_oceania.duracion_media_de_los_viajes.replace({".": 0," ": 0})

In [87]:
emisor_ccaa_oceania = emisor_ccaa_oceania.astype({'turistas': 'int32', 'pernoctaciones': 'int32', 'duracion_media_de_los_viajes': 'int32'})

In [88]:
emisor_ccaa_oceania.to_csv('emisor_ccaa_oceania.csv', index=False)